
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #E5E5E5;
    padding: 20px;
}

h1,h2{
    text-align: center;
    font-family: 'Macondo', cursive;
    /* visibility: hidden; */
}

article#publicacoes{
    background-color: #E5E5E5;
    padding: 20px;
    font-size: 10px;
}

article#formacao{
    background-image: url("http://www.reinaldoferraz.com.br/aula/reinaldo.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;
}

article#habilidades{
    background-color: #4387D8;
    padding: 20px;
}

aside{
    background-color: #315E93;
}

@media screen and (max-width: 1024px) {
    p{color:red;}
}

@media screen and (max-width: 840px) {
    p{color: pink;}
}