
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

a{
    background-color: #E5E5E5;
    margin-left: 0px;
    color: blue;
    transition-property: background-color, margin-left, color;
    transition-duration: 1s;
}

a:hover, a:focus{
    background-color: yellow;
    margin-left: 10px;
    color: black;
}

li{
    display: inline;
    margin-right: 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    grid-template-areas:"um dois";
    grid-template-columns: auto 200px;
}

section{
    grid-area: um;
}

aside{
    grid-area: dois;
}

video{
    width: 150px;
    margin: 20px;
}

header{
    background-color: #E5E5E5;
    padding: 20px;
    text-align: center;
}

h1,h2{
    text-align: center;
    font-family: 'Macondo', cursive;
    /* visibility: hidden; */
}

article#publicacoes{
    background-color: #E5E5E5;
    padding: 20px;
    font-size: 10px;
}

article#formacao{
    background-image: url("http://www.reinaldoferraz.com.br/aula/reinaldo.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;
}

article#habilidades{
    background-color: #4387D8;
    padding: 20px;
}

aside{
    background-color: #315E93;
}

@media screen and (max-width: 1024px) {
    main{
    display: block;
    }
}

@media screen and (max-width: 840px) {
    p{color: pink;}
}

@keyframes anima {
    0%   {top:0px; left:5%;}
    20%  {top:100px; left:20%;}
    40%  {top:0px; left:35%;}
    60%  {top:100px; left:50%;}
    80%  {top:0px; left:65%;}
    100% {top:100px; left:80%;}
}

nav{
    position: absolute;
    animation-name: anima;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}